<!DOCTYPE HTML>
<html>
	<head>
		<title>Projet Voitures_Infos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/main.css" />
		<noscript><link rel="stylesheet" href="static/noscript.css" /></noscript>
	</head>
	
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Voitures_Infos</h1>
								<h2>Météo Complète</h2>
							</div>
						</div>
						<nav>
							<ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="Infos_Systeme">Système</a></li>
								<li><a href="Infos_GPS">GPS</a></li>
								<li><a href="Prix_du_Carburant">Carburant</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

                <!-- Main -->
                <p></p>
				<p><%= tk_climat_min %></p>
                <p><%= tk_climat_max %></p>
                <p><%= tk_climat_now %></p>
                <p><%= tk_vitesse_du_vent %></p>
                <p><%= tk_status_climat %></p>
                <p><%= tk_volume_de_neige %></p>
                <p><%= tk_volume_de_pluie %></p>
                <p><%= tk_couverture_de_nuage %></p>
                <p><%= tk_pourcentage_humidite %></p>
				<!-- Main -->
					
		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>